[defaults]
inject_facts_as_vars = False
host_key_checking = no
nocows = 1
remote_tmp = /tmp/${USER}
roles_path = ./roles
gathering = smart
stdout_callback = default
result_format = yaml
inventory = hosts.yml
vault_password_file = ./vault-pass.txt


[ssh_connection]
ssh_args= -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ForwardAgent=yes
